.header {
    padding: 10px 0;
    &__navbar {
        justify-content: flex-end;
        display: flex;
        grid-gap: 50px;
        gap: 50px;
        font-size: 18px;
        font-weight: 700;
        > div {
            user-select: none;
            cursor: pointer;
            transition: background-color 0.3s;
            &:hover {
                background-color: #eee;
            }
            padding: 20px;
            border-radius: 12px;
        }
    }
    &__burger {
        display: none;
    }
    &__burgerNav {
        > div {
            user-select: none;
            padding: 10px;
        }
    }
    @media (max-width: 992px) {
        &__navbar {
            $gap: 30px;
            grid-gap: $gap;
            gap: $gap;
            > div {
                padding: 15px;
                border-radius: 10px;
            }
        }
    }
    @media (max-width: 767px) {
        &__navbar {
            font-size: 16px;
            $gap: 20px;
            grid-gap: $gap;
            gap: $gap;
            > div {
                padding: 15px;
                border-radius: 10px;
            }
        }
    }
    @media (max-width: 600px) {
        &__navbar {
            display: none;
        }
        padding: 20px 0;
        &__burger {
            display: flex;
            justify-content: flex-end;
        }
    }
}
